# Should be identical to .gitignore
.env
node_modules
.idea
data
stacks
tmp
/private

# Docker extra
docker
docker-compose.local.yml
local.sh
.env.example
frontend
coverage
.editorconfig
.eslintrc.cjs
.git
.gitignore
README.md
